.white-background{
	-fx-background-color: #ffffff
}

.highlighted-cell {
	-fx-background-color: lightgray; /* Change the color to your desired highlight color */
}

.context-menu {
	-fx-background-color: white; /* Set background color to white */
	-fx-text-fill: black; /* Set text color to black */
	-fx-border-color: black; /* Set border color to black */
}

.context-menu .menu-item {
	-fx-background-color: white; /* Set background color of menu items to white */
	-fx-text-fill: black; /* Set text color of menu items to black */
}

.context-menu .menu-item:hover {
	-fx-background-color: lightgray; /* Set background color of hovered menu items */
	-fx-text-fill: black;
}

.chat-list-circle-left{
	-fx-fill: #e0e0e0;
	-fx-stroke-width: 0;
	-fx-radius: 35px;
}

.chat-list-imageview-right{
	-fx-fit-width: 24px;
	-fx-fit-height: 24px;
}

.chat-list-label-top{
	-fx-max-width: 200px;
	-fx-font-family: "Inter Medium";
	-fx-font-size: 20px;
}

.chat-list-label-bottom{	
	-fx-max-width: 240px;
	-fx-font-family: "Inter Medium";
	-fx-font-size: 16px;
	-fx-text-fill:#454545
}

.combo-box{
	-fx-prompt-text-fill:#E0E0E0;
	-fx-text-fill:#828282;
}

.text-field{
	-fx-border-color:#E0E0E0;
	-fx-text-fill:#828282;
	-fx-border-radius:8;
	-fx-background-radius:8;
	-fx-effect:null;
	-fx-focus-color:transparent;
	-fx-faint-focus-color:transparent;
	-fx-background-insets:0;
	-fx-font-size: 20px;
 -fx-font-family: "Inter Medium";
}

.password-field{
	-fx-border-color:#E0E0E0;
	-fx-text-fill:#828282;
	-fx-border-radius:8;
	-fx-background-radius:8;
	-fx-effect:null;
	-fx-focus-color:transparent;
	-fx-faint-focus-color:transparent;
	-fx-background-insets:0;
	-fx-font-size: 20px;
 -fx-font-family: "Inter Medium";
}

.date-picker{
	-fx-border-color:#E0E0E0;
	-fx-text-fill:#828282;
	-fx-border-radius:8;
	-fx-background-radius:8;
	-fx-effect:null;
	-fx-focus-color:transparent;
	-fx-faint-focus-color:transparent;
	-fx-background-insets:0;
	-fx-font-size: 20px;
 -fx-font-family: "Inter Medium";
}


.green-button{
	-fx-border-color:transparent;
	-fx-text-fill:#ffffff;
	-fx-border-radius:8;
	-fx-background-radius:8;
	-fx-background-color:#31Ba45;
	-fx-font-size: 16px;
 -fx-font-family: "Inter Medium";
}

.green-button:pressed {
	-fx-background-color: #31aa45; /* Set background color when pressed */
	-fx-background-insets: 0; /* Remove background insets */
	-fx-background-radius: 10; /* Set background radius */
}

.label-right {
	-fx-background-color: #31Ba45;
	-fx-background-radius: 16 24 4 16;
	-fx-border-radius: 16 24 4 16;
	-fx-alignment: center;
	-fx-font-size: 16px;
 -fx-font-family: "Inter Medium";
 -fx-text-fill: white;
	-fx-padding: 0 20px 0 20px;
	-fx-min-width: 55px;
	-fx-min-height: 50px;
	-fx-max-width: 450px;
	-fx-wrap-text: true;
}

.label-left {
	-fx-background-color: #e0e0e0;
	-fx-background-radius: 24 16 16 4;
	-fx-border-radius: 24 16 16 4;
	-fx-alignment: center;
	-fx-font-size: 16px;
 -fx-font-family: "Inter Medium";
 -fx-text-fill: black;
	-fx-padding: 0 20px 0 20px;
	-fx-min-width: 55px;
	-fx-min-height: 50px;
	-fx-max-width: 450px;
	-fx-wrap-text: true;
}

.light-gray-all-borders{
	-fx-border-color: #E0E0E0 #E0E0E0 #E0E0E0 #E0E0E0
}

.light-gray-top-border{
	-fx-border-color: #E0E0E0 transparent transparent transparent
}

.light-gray-right-border{
	-fx-border-color:  transparent #E0E0E0 transparent transparent
}

.light-gray-bottom-border{
	-fx-border-color: transparent transparent #E0E0E0 transparent
}

.light-gray-left-border{
	-fx-border-color: transparent transparent transparent #E0E0E0 
}

.light-gray-top-right-border{
	-fx-border-color: #E0E0E0 #E0E0E0 transparent transparent
}

.light-gray-top-left-border{
	-fx-border-color: #E0E0E0 transparent transparent #E0E0E0
}

.light-gray-bottom-right-border{
	-fx-border-color: transparent #E0E0E0 #E0E0E0 transparent
}

.light-gray-bottom-left-border{
	-fx-border-color: transparent transparent #E0E0E0 #E0E0E0
}

.scroll-pane > .viewport {
	-fx-background-color: #ffffff;
}